
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" th:href="@{/css/mathe-prinz-main.css}" href="../static/css/mathe-prinz-main.css"
          rel="stylesheet" />
    <script type="module" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <title>Matheprinz</title>
</head>
<body>

    <!-- HEADER -->
    <div class="row">
        <div class ="col-wide-2 col-mid-2 col-mobile-0"></div>
        <div class ="col-wide-8 col-mid-8 col-mobile-12">
            <div class ="horizontal-center">
                <img class ="resize-smaller-not-bigger" th:src="@{/images/mathe-prinz-headline.svg}"
                                                           src="../static/images/mathe-prinz-headline.svg"/>
                <p class="hideIfMobile"> Mathematik-Aufgabenblätter selbst erstellen</p>
            </div>
        </div>
        <div class ="col-wide-2 col-mid-2 col-mobile-0"></div>
    </div>

    <!-- MENUE -->
    <div class="row background-color-secondary">
        <div class ="col-wide-2 col-mid-2 col-mobile-0"></div>
        <div class ="col-wide-4 col-mid-4 col-mobile-12">
            <form id="inputForm" action="#" th:action="@{/}" th:object="${theFormData}" th:target="_blank" method="post">
                <section id="inputSection">
                    <legend>Anzahl</legend>
                    <input  id="numberOfExercises" type="number" class="full-width"  th:field="*{numberOfExercises}"
                            min="10" max="500" step="1" value="10" minlength="2" maxlength="3" required>
                    <div id="ValidationErrorAnzahlInput" class ="validationError" >
                        <img class ="resize-smaller-not-bigger" src="../static/images/mathe-prinz-symbol-error.svg"
                                                                th:src="@{/images/mathe-prinz-symbol-error.svg}">
                        <p class="validationMessage" >Bitte geben Sie eine Zahl zwischen 10 und 500 ein</p>
                    </div>
                </section>
                <section id="inputRechenbereich">
                    <legend>Rechenbereich</legend>
                    <ul class="grid">
                        <li><label for="exercisesNumberRangeStart">Von:</label>
                            <input id="exercisesNumberRangeStart" type="number" class="half-width"  th:field="*{exercisesNumberRangeStart}"
                                   min="1" max="9999" step="1" value="1" required>
                            <div id="ValErrExNumRngStrtInp" class ="validationError">
                                <img class ="resize-smaller-not-bigger"  th:src="@{/images/mathe-prinz-symbol-error.svg}"
                                     src="../static/images/mathe-prinz-symbol-error.svg" />
                                <p class="validationMessage" >Der Beginn muss zwischen 1 und 9999 liegen</p>
                            </div>
                        </li>
                        <li><label for="exercisesNumberRangeEnd">Bis:</label>
                            <input type="number" class="half-width" id="exercisesNumberRangeEnd" th:field="*{exercisesNumberRangeEnd}"
                                   min="1" max="9999" step="1" value="100" required>
                            <div id="ValErrExNumRngEndInp" class ="validationError">
                                <img class ="resize-smaller-not-bigger" th:src="@{/images/mathe-prinz-symbol-error.svg}"
                                     src="../static/images/mathe-prinz-symbol-error.svg"  />
                                <p class="validationMessage" >Das Ende muss zwischen 1 und 9999 liegen</p>
                            </div>
                        </li>
                    </ul>
                </section>
                <section id="checkboxSection">
                    <legend>Aufgabenart</legend>
                    <ul id="operatorUl" class="grid">
                        <li><div class="flex-center">
                            <input type="checkbox" id="add" name="withOperationsAdd" th:checked="*{withOperationsAdd}" checked>
                            <img id="symbol-addition" class="math-symbol" th:src="@{/images/symbol-addition.svg}"
                                 src="../static/images/symbol-addition.svg" />
                        </div></li>
                        <li><div class="flex-center">
                            <input type="checkbox" id="sub" name="withOperationsSub" th:checked="*{withOperationsSub}">
                            <img id="symbol-subtraction" class="math-symbol" th:src="@{/images/symbol-subtraction.svg}"
                                 src="../static/images/symbol-subtraction.svg" />
                        </div></li>
                        <li><div class="flex-center">
                            <input type="checkbox" id="multi" name="withOperationsMul" th:checked="*{withOperationsMul}">
                            <img id="symbol-multiplication" class="math-symbol" th:src="@{/images/symbol-multiplication.svg}"
                                 src="../static/images/symbol-multiplication.svg" />
                        </div></li>
                        <li><div class="flex-center">
                            <input type="checkbox" id="div" name="withOperationsDiv" th:checked="*{withOperationsDiv}">
                            <img id="symbol-division" class="math-symbol" th:src="@{/images/symbol-division.svg}"
                                 src="../static/images/symbol-division.svg" />
                        </div></li>
                    </ul>
                    <div id="ValidationErrorOperators" class ="validationError" >
                        <img class ="resize-smaller-not-bigger" src="../static/images/mathe-prinz-symbol-error.svg"
                                                                th:src="@{/images/mathe-prinz-symbol-error.svg}"/>
                        <p class="validationMessage" >Bitte mindestens einen Operator anhaken.</p>
                    </div>
                </section>
                <section id="formButtonsSection">
                    <button type="submit" id="submitButton" value="Erstellen" >Erstellen</button>
                    <button type="reset" value="Zurücksetzen">Zurücksetzen</button>
                    <button type="button" id="validateButton" value="Validieren" >Validieren</button>

                </section>
            </form>
        </div>
        <div class ="col-wide-4 col-mid-4 col-mobile-0">
            <img class="resize-smaller-not-bigger" th:src="@{/images/mathe-prinz-zauberstab.svg}"
                                                      src="../static//images/mathe-prinz-zauberstab.svg" />
        </div>
        <div class ="col-wide-2 col-mid-2 col-mobile-0"></div>
    </div>

    <!-- FOOTER -->
    <div class="row">
        <div class ="col-wide-3 col-mid-1 col-mobile-0"></div>
        <div class ="col-wide-6 col-mid-10 col-mobile-12">
            <div class ="flex-center flex-space-evenly">

                    <a class="flex-center black-text" href ="https://github.com/MrMame/math-generator">
                        <img id="github-logo" th:src="@{/images/logo-github.svg}"
                             src="../static/images/logo-github.svg" />
                        <p>Github-Projekt</p>
                    </a>

                </div>


        </div>
        <div class ="col-wide-3 col-mid-1 col-mobile-0"></div>
    </div>


</body>
</html>