<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
    <title>Title</title>
</head>
<body>
    <p>Das Ergebnis lautet </p>
    <br><br>

<!--
    <p th:each="exercise,iterState : ${theGenerator.createExercises()}"
       th:text="${exercise} + 'iterstate: ' + ${iterState.count}" class="exercise" >dummy</p>
-->
    <th:block th:each="exercise,iterState : ${theGenerator.createExercises()}">
    <div>
        <div th:if="${(iterState.count % 5) == 0}">
            <p th:text="${exercise} + 'iterstate: ' + ${iterState.count}" class="exercise" >dummy</p>
        </div>
    </div>
    </th:block>

    <!--
    <th:block th:each="exercise,iterState : ${theGenerator.createExercises()">
        <div class="exercisePack" th:if="(${iterState.index % 5) == 0}">
            <p th:text="${exercise}">dummy</p>
        </div>
    </th:block>
    -->


</body>
</html>